#goods_detail{
	background-color: #F2F2F2;
	padding-bottom: 0.9rem;
}
#goods_detail .product{
	background-color: #fff;
	padding: 0.3rem 0.3rem 0.2rem;
}
#goods_detail .product>.price{
	color: red;
	font-size: 0.4rem;
	margin-bottom: 0.2rem;
}
#goods_detail .product>.product_title{
	line-height: 1.3;
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
}
#goods_detail .product>.flag{
	background-color: #F2F2F2;
	height: 0.6rem;
	line-height: 0.6rem;
}
#goods_detail .product>.flag>img{
	width: 0.6rem;
	position: relative;
	bottom: 0.03rem;
	margin-left: 0.2rem;
}
#goods_detail .product>.flag>span{
	margin-left: 0.2rem;
	font-size: 0.24rem;
}
#goods_detail .weui-cells{
	font-size: 0.26rem;
	/*修改vux默认样式*/
}
#goods_detail .weui-cell__ft,#goods_detail .vux-cell-value{
	color: #333;
	/*修改vux默认样式*/
}
#goods_detail .pro_desc{
	margin-top: 0.2rem;
}
/*弹窗sku*/
.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10000;
}
.con{
	position: fixed;
	width: 100%;
	bottom: 0;
	min-height: 1rem;
	background-color: #fff;
	z-index: 10001;
}
@keyframes fadeInUp-in{
	0%{opacity:0;transform:translate3d(0,100%,0)}
	to{opacity:1;transform:none}
}
@keyframes fadeInUp-out{
	0%{opacity:1;transform:none}
	to{opacity:0;transform:translate3d(0,100%,0)}
}
.fadeInUp-enter-active{animation-name:fadeInUp-in;animation-duration: .5s;}
.fadeInUp-leave-active{animation-name:fadeInUp-out;animation-duration: .5s;}

/*规格弹窗样式*/
.con>.sku{
	padding: 0.3rem;
}
.thumb{
	float: left;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 0.2rem;
	border: 0.01rem solid #ccc;
}
.thumb>img{
	width: 100%;
	height: 100%;
	border-radius: 0.2rem;
}
.thumb_r{
	float: left;
	width: 30%;
	height:1.8rem;
	margin-left: 0.2rem;
}
.thumb_r>p.price{
	margin-top:0.8rem;
}
.thumb_r>p.price span{
	color: red;
	font-size: 0.4rem;
}
.thumb_r>p.store span{
	font-size: 0.2rem;
	color: #aaa;
}
.sku_detail{
	margin-top: 0.4rem;
	margin-bottom: 0.2rem;
	font-size: 0.28rem;
	color: #333;
}
.sku_button button{
	float: left;
	min-width: 1.8rem;
	height: 0.7rem;
	border-radius: 0.1rem;
	border: 0.01rem solid #000;
	background-color: #fff;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
	padding: 0 0.1rem;
}
.sku_button button.active{
	background-color: #27DABC;
	color: #fff;
	border: none;
}
.sku_num{
	margin-top: 0.1rem;
	margin-bottom: 0.2rem;
	font-size: 0.28rem;
	color: #333;
}
.num{
	width: 1rem;
	height: 0.48rem;
	font-size: 0.34rem;
	color: #333;
	padding: 0 0.1rem;
	text-align: center;
	border:none;
	vertical-align: bottom;
}
.down,.up{
	width: 0.55rem;
	height: 0.48rem;
	display: inline-block;
	border-radius: 0.12rem;
}
.down>img,.up>img{
	width: 100%;
}

.sure>button{
	height: 0.9rem;
	background-color: #27DABC;
	color: #fff;
	border: none;
	width: 100%;
	font-size: 0.34rem;
}
/*说明弹窗样式*/
.explain{
	padding: 0.2rem;
	border-bottom: 0.01rem solid #ddd;
}
.explain .pro_explain{
	font-size: 0.32rem;
}
.close{
	float: right;
	margin-top: 0.1rem;
	width: 0.32rem;
	height: 0.32rem;
}
.close img{
	width: 100%;
	vertical-align: top;
}
.tag_box{
	padding: 0.2rem 0.2rem 0;
}
.tag{
	border-bottom: 0.01rem solid #ddd;
}
.tag_title{
	font-size: 0.28rem;
}
.tag_con{
	color: #aaa;
	line-height: 1.3;
	padding:0.1rem 0;
	
}
.tag_box>div.tag:last-child{
	border:none;
}
.buy{
	position: fixed;
	bottom: 0;
	height: 0.9rem;
	width: 100%;
	border-top: 0.01rem solid #ddd;
}
.buy>div{
	float: left;
	text-align: center;
	height: 0.9rem;
	line-height: 0.9rem;
}
.cart_icon{
	width: 20%;
	background: #fff url(../img/shopping_cart.png) center center/40% no-repeat;
}
.add,.buy_now{
	width: 40%;
	color: #fff;
	font-size: 0.34rem;
}
.add{
	background-color: #000;
}
.buy_now{
	background-color: #27DABC;
}